<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551765794497-c9rlobk3t4ndha3d8823aisjj5a6jobv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551765794497-c9rlobk3t4ndha3d8823aisjj5a6jobv</string>
	<key>API_KEY</key>
	<string>AIzaSyDqRQq6qmmAOV9Bn3CKmqMBL8KPJw8iL54</string>
	<key>GCM_SENDER_ID</key>
	<string>551765794497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-ca79d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-ca79d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551765794497:ios:82158f006cf1512885be40</string>
</dict>
</plist>